@import '../utilitis/variables';

header{
    padding: 10px;
    //background-color: darkkhaki;
    background: linear-gradient(to right,darkkhaki,rgb(228, 220, 110));
    display: flex;
    img{
        width:100px;height:100px;
    }
    nav{
        a{
            transition: 1s; 
            margin: 5px;
            list-style-type: none;
            margin: 20px;
            display: flex;
        }
    }
}
/*pagina contacto*/
.titulo1{
    font-size: 25px;
    color:$color-letra;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1cm;
   }


    .contacto{
        font-size: 14px;
        font-style:normal;
        color:coral;
       
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 

    .imagen-entrada{
        width: 200px;
        height: 200px;
        margin-top: 0.5cm;
        margin-bottom: 0.5cm;
        border-radius: 20px;
    }